* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 15px;
}

.menu-sections {
  padding: 10px;
}

/* Fixes collapsing box issue when using float */
.menu-sections::after {
  content: "";
  display: block;
  clear: both;
}

.menu-section {
  float: left;
  padding: 10px;
}

.menu-card {
  position: relative;

  padding: 10px;
  border: 1px solid black;

  background-color: #999999;
}

.menu-card h2 {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 8rem;
  height: 2rem;

  border: 1px solid black;

  font-size: 1.25rem;
  /* Centers text vertically and horizontally */
  line-height: 2rem;
  text-align: center;
}

#menu-section-1 .menu-card h2 {
  background-color: #d59898;
}

#menu-section-2 .menu-card h2 {
  background-color: #c76563;
}

#menu-section-3 .menu-card h2 {
  background-color: #e5d198;
}

.menu-card p {
  margin-top: 2rem;

  font-size: 1rem;
}

/* Desktop */
@media (min-width: 992px) {
  .menu-section {
    width: 33.33%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section {
    width: 50%;
  }

  #menu-section-3 {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .menu-section {
    width: 100%;
  }
}
